*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    width: 100%;
    position: absolute;
}
.img-principal{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
li{
    display: inline-block;
    font-size: 1.8em;
    padding: 0.6em;
}
ul{
    text-align: right;
}
p{
    font-size: 1.8em;
    text-align: justify;
}
#conten-name{
    margin: 4em 3em;
}