*{
    margin: 0;
}
h1{
    text-align: center;
}
.style-container{
    margin: 30px auto 30px auto;
    /* border: 1px solid rgb(197, 191, 191);
    border-radius: 25px; */
    padding: 20px;
}
#flexCheckDefault{
    cursor: pointer;
}
.form-check-label{
    cursor: pointer;
}
.form-check-input{
    cursor: pointer;
}
.space-elements{
    margin: 20px;
}