h1 {
    text-align: center;
    font-family: 'Lobster';
}
fieldset {
    font-family: 'Lobster';
    width: 20%;
    margin: 0 auto 0 auto;
    border-radius: 7px;
}
h2 {
    text-align: center;
    font-family: 'Lobster';
}