*{
    margin: 0;
    padding: 0;
}
.page-content{
    display: grid;
    grid-template: 
                    "header   nav   nav"  80px
                    "article  article  artocle"  100px
                    /* "article article article"  */
                    /* "section section section";  */ /
                     1fr          1fr       1fr;
}
header,nav,article,section{
    padding: 30px;
    font-size: 1.6em;
    border: 1px solid black;
    text-align: center;
}
.header{
    background-color: blueviolet;
    grid-area: header;
}
nav{
    background-color: burlywood;
    grid-area: nav;
}
/* .article{
    background-color: limegreen;
    grid-area: imagen;

} */
/* .section{
    background-color: magenta;
    grid-area: imagen;
} */