* {
    margin: 0;
    padding: 0;
}
header label {
    display: block;
}
header label:hover {
    cursor: pointer;
    background: rgb(0,0,0,.2);
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgb(243,243,243);
} 
.menu-hamburger {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2em;
    display: none;
    z-index: 10;
    color: white;
}
.check-menu {
    visibility: hidden;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    height: 70px;
}
li {
    margin-top: 20px;
    margin-right: 20px;
}
.last-item {
    margin-right: 40px;
    color: rgb(48,48,48,.8);
    font-size: .9em;
    margin-top: 25px;
}
a {
    text-decoration: none;
    color: rgb(48,48,48,.8);
    font-weight: 900;
    font-family: helvetica, arial, sans-serif;
}
.icono-spa {
    position: fixed;
    top: 10px;
    left: 100px;
    z-index: 20;
}
.main-container {
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    display: grid;
<<<<<<< HEAD
    grid-template: "header         header         header"         100px
=======
    grid-template: "header         nav            nav"            100px
>>>>>>> 2f0508f05767f3aaa4d18a7ac1b2d33c9370bd9c
                   "img-principal  img-principal  img-principal"  350px
                   "news-1         news-2         news-3"         auto  /
                    1fr            1fr            1fr;
}
.header, .img-principal, .img-article1, .img-article2,.img-article3,.menu {
    /* border-radius: 10px; */
    /* width: 110%; */
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
.header {
    grid-area: header;
    /* background: rgb(10, 233, 77); */
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 15px;
}
.logo{
    /* background-color: aqua; */
    padding: 20px;
    margin-right: 200px;
    width: 70px;
    display: flex;
    align-items: left;
    justify-content: left;

}
.menu{
    grid-area: nav;
    /* background-color: aqua; */
}
.img-principal{
    background-image: url(../img/principalll.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    grid-area: img-principal;
    background: rgb(14, 77, 77);
}

/* .header{
    background-image: url(../img/span.jpeg);
    /* background-repeat: no-repeat;
    background-size: cover;
*/
.img-article1 {
    height: 250px;
    /* background: rgb(255, 60, 60); */
    background-image: url(../img/baños.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-article2 {
    height: 250px;
    /* background: rgb(255, 60, 60); */
    background-image: url(../img/belleza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-article3 {
    height: 250px;
    /* background: rgb(255, 60, 60); */
    background-image: url(../img/maquillaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parrafo-articulo {
    margin-top: 1.5em;
    line-height: 1.4em;
    font-size: 1.5em;
    color: black;
    text-align: justify;
}
.news-1 {
    grid-area: news-1;
}
.news-2 {
    grid-area: news-2;
}
.news-3 {
    grid-area: news-3;
}

@media only screen and  (max-width: 1024px){
    .main-container {
        width: 85%;
        grid-template: "header         header"         90px
                       /* "nav            nav"            90px */
                       "img-principal  img-principal"  250px
                       "news-1         news-2"         auto 
                       "news-3         news-3"        auto /
                        1fr            1fr;
    }
    .img-article{
        height: 250px;
    }
}
@media only screen and (max-width: 640px){
    .main-container {
        width: 85%;
        grid-template: "header"         80px
                       /* "nav"            80px */
                       "img-principal"  260px
                       "news-1"         auto 
                       "news-2"         auto
                       "news-3"         auto /
                        1fr;
    }
    .news {
        font-size: .8em;
    }


}