*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
.page-content{
    display: grid;
    grid-template: 
                    "header   nav   nav"  80px
                    "sectione sectione sectione" auto
                    /* "articlei articlei articlei" 100px */
                    "article conte main"100px /  
                     1fr          1fr       1fr;
}
header,nav,article,section,menu,.conte{
    padding: 30px;
    font-size: 1.6em;
    /* border: 1px solid black; */
    text-align: center;
}
.header{
    /* background-color: blueviolet; */
    grid-area: header;
}
nav{
    /* background-color: burlywood; */
    grid-area: nav;
}
.article{
    /* background-color: limegreen; */
    grid-area: article;

}
.sectione{
    /* background-color: magenta; */
    grid-area: sectione;
}
.main{
    /* background-color: turquoise; */
    grid-area: main;
}
.conte{
    /* background-color: violet; */
    grid-area: conte;
}
.boton:hover{
    cursor: pointer;
    background-color: rgb(25,25,25);
    color: white;
}
li{
    font-weight: 600;
}
li:hover{
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: grey;
}
.menu-horizontal{  
    margin-bottom: 30px;
    display: inline-block; 
    list-style: none;
    /* margin: 0 auto; */
    /* border-bottom: 3px solid grey; */
    padding: 10px 14px;
    border-radius: 4px;
    /* background-color: hotpink; */
}
.horizontal{
    /* margin-bottom: 10px; */
    margin: 0 auto;
    text-align: right;
    padding: 10px;
    margin-right: 10%;
    border-radius: 3px;
    /* background-color: violet; */
}
p{
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 1.3em;
}
nav{
    text-align: right;
    height: 70px;
    border-bottom: 2px solid #eaeaeb;
}
#main-menu{
    margin: 0 30px 0 0;
}
#main-menu a{
    clear: right;
    text-decoration: none;
    color: darkgrey;
    margin-right: 10px;
    line-height: 70px;
}
label{
    float: right;
    font-size: 26px;
    line-height: 70px;
    margin: 0 10px;
    display: none;
}
#toggle{
    display: none;
}
@media only screen and (max-width:600px) {
    label{
        display: block;
        cursor: pointer;
    }
    #main-menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    #main-menu a{
        display: block;
        border-bottom: 2px solid #eaeaeb;
    }
    #toggle:checked +#main-menu{
        display: block;
    }
}