body{
    background-color: #252528;
}
ul{
    list-style: none;
    margin-top: 60px;
}
a{
    text-decoration: none;
    color: white;
}
.fas ,.fab{
    color: rgb(246, 246, 246);
    font-size: 1.8em;
    list-style: none;
    margin-right: 0.5em;
}
li{
    padding: 1.7em 0.5em;
}
.fa-bars{
    position: absolute;
    left: 2em;
    top: 3em;
    cursor: pointer;
    z-index: 10;
}
nav{
    background-color: rgb(0,0,0, .6);
    border-right: 2px solid white;
    position: absolute;
    left: -300px;
    height: 100%;
    padding-right:2em;
    padding-top: 5em;
    z-index: 5;
    top: 0;
}
.menu a{
    color: white;
    text-decoration: none;
    display: block;
    transition: all .5s;
}
.menu li{
    box-shadow: 3px 0 rgb(255,255,255, .2) inset;
    padding-left: 1.5em;
    margin-right: 10px;
}
.menu li:hover{
    box-shadow: 17em 0 rgb(255,255,255, .2) inset;
}
h1{
    text-align: center;
}
h1, article{
    color: rgb(210,210,210);
}
article{
    font-size: 1.5em;
    text-align: justify;
    margin: 5em;
    line-height: 1.5em;
}
.mostrar-nav{
    left: 0;
}
