body{
    width: 100%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
nav{
    text-align: right;
    height: 70px;
    border-bottom: 2px solid #eaeaeb;
}
#main-menu{
    margin: 0 30px 0 0;
}
#main-menu a{
    clear: right;
    text-decoration: none;
    color: darkgrey;
    margin-right: 10px;
    line-height: 70px;
}
label{
    float: right;
    font-size: 26px;
    line-height: 70px;
    margin: 0 10px;
    display: none;
}
#toggle{
    display: none;
}
@media only screen and (max-width:500px) {
    label{
        display: block;
        cursor: pointer;
    }
    #main-menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    #main-menu a{
        display: block;
        border-bottom: 2px solid #eaeaeb;
    }
    #toggle:checked +#main-menu{
        display: block;
    }
}