body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(255, 115, 0);
    font-size: 3em;
    color: white;
}
li{
    font-weight: 600;
}
li:hover{
    background-color: rgb(201, 201, 201);
}
a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}
.menu-vertical-menu{
    display: inline-block;
}
.menu-vertical{
    background-color: #5a5a5a;
    margin-bottom: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 14px;
}
/* aqui estan los dos estilos */
.menu-horizontal{   
    list-style: none;
    margin: 0;
    float: left;
    background-color: #ffffff;
    border-right: 2px solid rgb(207, 31, 31);
    border-radius: 0px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
}
.horizontal{
    text-align: left;
}
