*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: left;
    display: block;
}
.titulo{
    position: absolute;
    color: white;
    top: 13px;
    left: 20px;
}
body{
    background: #fefefe;
}
.menu-bar{
    display: none;
}
header{
    width: 100%;
}
header nav{
    background: rgb(222,1,8);
    z-index: 10;
    width: 100%;
    margin: 0 auto;
}
header nav ul{
   list-style: none;
   text-align: right;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}
header nav ul li a span{
    margin-right: 10px;
}
header nav ul li:hover .children{
    display: block;
    z-index: 20%;
    text-align: left;
}
header nav ul li .children{
    display: none;
    background: #011826;
    text-align: left;
    width: 150%;
    position: absolute;
}
header nav ul li .children li{
    display: block;
    border-bottom: 2px solid rgba(255,255,255, .5);
    overflow: hidden;
}
header nav ul li .children li a {
    display: block;
}
.main-content{
    margin: 20px;
}
.main-content p{
    text-align: justify;
}