h1{
    text-align: center;
    font-size: 3em;
}
p{
    font-size: 1.5em;
    text-align: justify;
}
.lemur {
    float: left;
    margin-right: 20px;
}
.oso{
    float: right;
    margin-left: 20px;
}
.p-oso{
    margin-right: 20px;
}
.p-lemur{
    margin-left: 20px;
}
.perro{
    display: block;
    margin: 0 auto;
}
.mapa-mundi{
    display: block;
    margin: 0 auto;
}
area{
    outline-color: goldenrod;
}