
*{
    margin: 0 ;
    padding: 0;
}
body{
    text-align: center;
    margin: 0;
    border: 0;
}
h1{
    font-family: 'lobster';
    font-size: 5em;
}
p{
    font-family: 'Cinzel';
    font-size: 2em;
    text-align: justify;
}
h1.titulo-menu{
    text-align: left;
    color: whitesmoke;
}
div {
    width: 1020px;
    display: block;
    margin: 0 auto 0 auto;
}

div.menu {
    padding: 1%;
    width: 100%;
    height: 90px;
    background-color:#113880;
}
a.decoracion {
    text-decoration: none;
    color: black;
}
a.decoracion{
    text-decoration: none;
    color: black;
}
a.decoracion:hover{
    color: purple;
}
li{
    
    color: rgb(0, 0, 0);
    padding: 15px;
    font-family: 'Cinzel', serif;
    font-size: 1.3em;
    display: inline-block;
    background-color: rgb(37, 236, 193);
}
